header {
    .header-container{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1300px;
        padding: 50px 0;


            button {
                font-family: Intro ;
                font-size: 13px;
                color: white;
                background-color: #5222D0;
                border-radius: 100px;
                border: none;
                padding: 14px 33px 11px 16px;
                position: relative;

                &::after {
                    content: '';
                    background-image: url('../assets/bag.svg');
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    margin-left: 5px;
                }
            }
        }
}




